apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base

images:
  - name: wolfix1245/payment
    newTag: "prod-latest"

commonLabels:
  environment: production