apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - hpa.yaml

images:
  - name: wolfix1245/userwebsite
    newTag: "1aee8ed76adbb19836567959ad2b531d1186fe0d"  # This will be updated by CI

commonLabels:
  environment: production