global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - '/etc/prometheus/rules/*.yml'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'nextjs-app'
    static_configs:
      - targets: ['app:3000']
    metrics_path: '/api/metrics'
    scrape_interval: 30s

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'gitlab'
    static_configs:
      - targets: ['gitlab:9168']
      
  - job_name: 'gitlab-runner'
    static_configs:
      - targets: ['gitlab-runner:9252']
  - job_name: 'ci-exporter-gitlab'
    static_configs:
      - targets: ['gitlab-ci-pipelines-exporter:8080']
