apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

images:
  - name: wolfix1245/payment
    newTag: "staging-latest"

commonLabels:
  environment: staging