apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - hpa.yaml

images:
  - name: wolfix1245/complex
    newTag: "23fa8600062db9d997678637c1dfa47d9b2df6ec"  # This will be updated by CI

commonLabels:
  environment: production