apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- configmap.yaml

labels:
- includeSelectors: true
  pairs:
    app: userwebsite-app
    managed-by: kustomize
